<form class="my-4" method="post" action="{{ path('app_admin_comics_delete', {'id': comics.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce Comics? Cette action est définitive.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comics.id) }}">
    <button class="badge bg-danger fs-6 my-4 mx-2 text-decoration-none">Supprimer le comics</button>
</form>
